body {
  background-color: #22272E;
  color: #fff;
}

.link-card {
  background-color: #444C56;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

.logo-container {
  border: 1px solid #2D333B;
}

.card-description {
  color: #bbb;
}
